html {
    font-family: Areal, Helvetica, sans-serif;
}
html h1 {
}
body {
    background-color: hsl(0, 16%, 96%);
}
select {
    border: solid 1px #ccc;
    background: transparent;
    padding: 1px;
    -webkit-apperance: none;
    -moz-apperance: none;
}


select, input {
    font-size: 1.4em;
}

#about select {
    margin: 0 0 0.5em 0;
}

.header {
    font-size: 1.2em;
    text-align: center;
}


.formWrapper {
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    border: solid 1px gray;
    background-color: white;
}
.span {
    padding: 1em;
}

.span-1 {
    border-bottom: solid 1px #ccc;
}

.span-1 * {
}

.fullwidth * {
    width: 100%;

}

.span-2 {
    height: 100%;
    vertical-align: top;
    text-align: center;
}


.slider #tanner {
    width 40%;
}

.slider #tannerval * {
    width: 30%
}

.slider #tanner, #tannerVal {
    display: inline-block;
}
.ans {
    font-size: 100px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}



@media only screen and (min-width: 750px), 
screen and (orientation: landscape and min-height: 750px and min-width: 750px) {
    label {
        font-size: 1.1em;
    }
    select, input {
        width:100%;
        font-size: 1em;
    }
    .header {
        font-size: 1.5em;
    }
    .span {
        box-sizing: border-box;
        width: 50%;
        display: inline-block;
        top: 0%;
        padding: 1em;

    }
    .span-1 * {
        width: 100%;
    }
    .span-2 {

    }
    .span-1 {
        border-bottom: none;
        border-right: solid 1px #ccc;

    }
}
@media only screen and (min-width: 750px) {
    .formWrapper {
        width: 750px;
    }
}

@media only screen and (orientation: landscape and min-height: 750px) {
    .formWrapper: 750px;
}
